aiohttp==3.7.4.post0
async-timeout==3.0.1
attrs==23.1.0
black==23.7.0
coverage==7.3.0
coverage-badge==1.1.0
discord==2.3.2
discord.py==2.3.2
dpytest==0.7.0
jishaku==2.5.1
packaging==23.1
py==1.11.0
pdfkit==1.0.0
pytest==7.4.1
pytest-asyncio==0.21.1
pytest-cov==4.1.0
python-dateutil==2.8.2
python-dotenv==1.0.0
psycopg2-binary==2.9.7
better-profanity==0.7.0
requests==2.31.0
pandas==2.1.1
google-api-core==2.12.0
google-api-python-client==2.101.0
google-auth==2.23.2
google-auth-httplib2==0.1.1
google-auth-oauthlib==1.1.0
googleapis-common-protos==1.60.0
PyPDF2==3.0.1
vobject==0.9.6.1
